---
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* This defines your base variables. */
:root {
	--background: gold;
	--color: black;
	--corners: 4px;
	--highlight: rgba(0, 0, 0, 0.1);
	--link--hover: deepskyblue;
	--link: dodgerblue;
	--margin: 20px;
	--max-width: 700px;
	--type: 16px;
}

/* You can change them at breakpoints. */
@media (min-width: 600px) {
	:root {
		--margin: 40px;
		--type: 20px;
	}
}



body {
	/* Variables are referenced with `var()`, wherever you use values! */
	color: var(--color);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: var(--type);
	/* You can even use them in `calc()`. */
	padding: calc(var(--margin) * 3) var(--margin) 50vh;
}

h1 {
	font-size: 3em; /* This is still relative to the base font size. */
	font-weight: bold;
	line-height: 1;
	margin-bottom: calc(var(--margin) * 3); /* Anywhere you use a value. */
}

p {
	color: var(--color);
	max-width: 65ch;
}

p:not(:first-of-type) {
	margin-top: calc(var(--margin) / 2);
}

p a {
	color: var(--link);
	text-decoration: underline;
}

p a:hover {
	color: var(--link--hover);
}

blockquote {
	background: var(--background);
	border-radius: var(--corners);
	box-shadow: 0 calc(var(--margin) / 4) calc(var(--margin) / 3) var(--highlight);
	margin-top: var(--margin);
	max-width: var(--max-width);
	padding: calc(var(--margin) / 2);
}

blockquote:nth-of-type(2) {
	--background: aquamarine;  /* You can redeclare them at any node level! */
}

blockquote:nth-of-type(3) {
	--color: white; /* They are *scoped* to this element and its descendants. */
	--background: var(--link); /* You can even set them to other variables! */
}



/* Just to show the bounding box. */
div {
	background-color: var(--highlight);
	margin-top: calc(var(--margin) * 3);
	width: fit-content;
}

h2,
h3 {
	font-size: 6em;
	opacity: 0.2;
}

h3 {
	/* These are all adjusted to this typeface (and line-height)! */
	--inset--bottom: -0.274em;
	--inset--left: -0.092em;
	--inset--right: -0.098em;
	--inset--top: -0.326em;

	display: flow-root; /* For the negative margins to work. */
	margin-left: var(--inset--left); /* Pull in the left/right edges. */
	margin-right: var(--inset--right);
}

/* Create the pseudo-elements to negate the “shoulders”. */
h3:before,
h3:after {
	content: '';
	display: block;
	visibility: hidden;
}

/* Pulls bounding box down to cap-height. */
h3:before {
	margin-top: var(--inset--top);
}

 /* Pulls bounding box up to baseline. */
h3:after {
	margin-bottom: var(--inset--bottom);
}




/* @import 'partial'; */






em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

code {
	color: crimson;
	background-color: var(--highlight);
	border-radius: var(--corners);
	display: inline-block;
	font-family: 'IBM Plex Mono', monospace;
	padding: 0.2em 0.4em;
	font-size: 0.9em;
	white-space: pre;
}

#source-link {
	@extend blockquote;

	background-color: tomato;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	margin-right: calc(var(--margin) / 2);
	margin-top: calc(var(--margin) / 2);
	padding: 0.5em 0.75em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
